# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Kaggle credentials
.kaggle/

# Kiro IDE files
.kiro/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Trained model files (too large for GitHub)
saved_models/
*.keras
*.h5

# OS files
.DS_Store
Thumbs.db
